<!--=== GALLERY ===-->
<section id="gallery">
  <div class="col-lg-12 no-padding bg-white">
<!-- Gallery-->
    <div id="effect-1" class="effects clearfix">
      <div class="col-lg-4 col-sm-6 col-xs-12 bg-brand-tertiary wow animated fadeIn text-center"> 
        <div class=" col-xs-12 float-over-top-center">
          <h1 class="text-uppercase">Recent<br> Projects
            <span class="responsive-hide">
              <i class="fa fa-caret-right transparent-30"></i>
            </span>
          </h1>
        </div>
        <img src="/assets/gal-spacer.png" alt="gallery" class="img-responsive" > 
      </div>

      <% Image.eligible_parent("sivanmalai","person").each_with_index do |image,i| %>
        <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-<%=i+2%> fadeIn">
          <div class="gallery effects-container effects-enlarge">
            <a href="<%= image.sized_image('thumb') %>" title="<b><%= image.title %></b><br> <%= image.description %>"  data-gal="prettyPhoto[galleryName]">
              <img src="<%= image.sized_image('medium') %>" alt="<%= image.title %>" />
              <div class="overlay">
                <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                <div class="overlay-caption">
                  <h3><%= image.title %></h3>
                  <small><%= image.description %> </small>
                </div>
              </div>
            </a>
            <% image.images.each do |sub_image|%>
              <div class="hidden">
                <a href="<%= sub_image.sized_image('thumb') %>" data-gal="prettyPhoto[galleryName]" title="<b><%= sub_image.title %></b><br> <%= sub_image.description %>">
                  <img src="<%= sub_image.sized_image('medium') %>"  alt="image">
                </a>
              </div> <!-- / end sub gallery -->
            <% end %>  
          </div>
        </div>    
      <% end %>
    </div><!-- end hover effects wrapper-->
  </div><!-- / end inner container -->  
  <div class="clearfix"></div>
</section><!--=== / END gallery  ===-->      