<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sri Sivanamalai Murugan</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>
	<%=render "layouts/header"%>
	<div id="contents">
		<%= yield %>
    </div>
    <audio autoplay="autoplay" loop><source src="/audios/Azhagellam.mp3" type="audio/mpeg"></audio>
   <%=render "layouts/footer"%>
</body>
</html>
